@model IEnumerable<MyPortfolioWebApp.Models.News>

@* @{ *@
@*     ViewData["Title"] = "Index"; *@
@* } *@

<section id="news" class="news section">
    <div class="container section-title" data-aos="fade-up">
        <h2>News</h2>
        <p>Loarem ipsum dalat sit amet.</p>
        @if (TempData["success"] != null)
        {
            <h3 style="color:greenyellow">@TempData["success"]</h3>
        }
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <p>
            <a asp-action="Create" class="btn btn-sm btn-success btn-kelly">Create</a>
        </p>
        <table class="board-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Writer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    @* <th> *@
                    @*     @Html.DisplayNameFor(model => model.Description) *@
                    @* </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReadCount)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class="content-center">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="content-center">
                        @Html.DisplayFor(modelItem => item.Writer)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    @* <td> *@
                    @*     @Html.DisplayFor(modelItem => item.Description) *@
                    @* </td> *@
                        <td class="content-center">
                        @Html.DisplayFor(modelItem => item.PostDate)
                    </td>
                    <td class="content-center">
                        @Html.DisplayFor(modelItem => item.ReadCount)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>